.component {
  background-color: #ffffff;
  border: 2px solid #6bb7be;
  width: 1159px;
  position: relative;
  flex-direction: column;
  display: block;

  height: auto;         
  min-height: 45px;    
}


.moduleContainer {
  display: block;
}
