.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  // align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background-color: #fff;
  border-radius: 16px;
  padding: 32px;
  width: 100%;
  max-width: 60%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
  max-height: 80vh; /* Optionally set a maximum height for the modal content */
}

.modalTitle {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 16px;
  color: #333;
}

.inputGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
}

.modalActions {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
  gap: 12px;
}

  /* Table Header DC-B */
  .dcHeader {
    background-color: #46a4ad;
    border: 1px solid #c1d5d7;
    height: 2.5rem; /* h-10 */
    text-align: center;
  }
  
  .dcTitle {
    font-weight: bold;
    color: #ffffff;
    font-size: 1rem; /* text-base = 16px */
    letter-spacing: 2px;
  }
  
  /* Room Header */
  .roomHeader {
    width: 10rem; /* w-40 */
    background-color: #cde9ec;
    height: 2.5rem;
    border: 1px solid #c1d5d7;
    text-align: center;
    padding: 0;
  }
  
  .unitHeader {
    width: 59px;
    background-color: #effdff;
    height: 2.5rem;
    border: 1px solid #c1d5d7;
    text-align: center;
    padding: 0;
  }
  
  .unitTitle {
    font-weight: 500;
    font-size: 1rem; /* text-base = 16px */
    color: #000000;
  }
  
  .roomTitle {
    font-weight: 500;
    font-size: 1rem; /* text-base */
    color: #000000;
  }
  
  .rackHeader {
    width: 10rem;
    background-color: #effdff;
    height: 2.5rem;
    border: 1px solid #c1d5d7;
    text-align: center;
    padding: 0;
  }
  
  .rackTitle {
    font-weight: 500;
    font-size: 1rem; /* text-base */
    color: #000000;
  }
  
  .unitCell {
    width: 10rem;
    background-color: var(--layout-100);
    height: 2.5rem;
    border: 1px solid #c1d5d7;
    padding: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  

.clickedCell {
  background-color: #a2e1e4 !important;
}

.inputField {
  // flex: 1 1 200px;
  width:100%;
  // padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.tableWithInputsWrapper {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.tableWrapper {
  // padding: 1.5rem;
  width: 50%;
  overflow-x: auto;
}

.inputColumn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputField {
  height: 40px;
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 3rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.modalActions {
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  gap: 10px; /* Space between buttons */
  padding: 10px 20px; /* Add some padding */
  border-top: 1px solid #eee; /* Optional top border to separate from content */
}
