.inputBase {
    width: 100%;
    padding: 1.25rem 3rem 1.25rem 4rem;
    height: 49px;
    font-size: 1.25rem;
    letter-spacing: 2px;
    // color: #6dccd5;
    border: 3px solid #46a4adb2;
    border-radius: 54px;
    background-color: white;
    backdrop-filter: blur(6.6px);
  }
  