.componentCard {
    width: 100%;
    margin: 1.75rem auto;
    border-radius: 30px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.63);
    backdrop-filter: blur(6.6px) brightness(100%);
    -webkit-backdrop-filter: blur(6.6px) brightness(100%);
    padding: 2rem; /* p-8 */
  }
  
  .headerButtonArea {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.5rem;
  }
  
  .editCabinetButton {
    height: 43px;
    width: auto;
    border-radius: 54px;
    margin-left: 20px;
    border: 3px solid #a2e1e4;
    background-color: #e5fbff;
    color: #125359;
    font-size: 1.25rem; /* text-xl */
    font-weight: 400;
    letter-spacing: 2px;
    font-family: 'Noto Sans', Helvetica, sans-serif;
    transition: all 0.3s ease;
    
    &:hover {
      background-color: #d5ebef;
    }
  }
  
  .titleArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .titleWrapper {
    position: relative;
    width: 100%;
    max-width: 684px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .leftSeparator,
  .rightSeparator {
    position: absolute;
    top: 40px;
    width: 240px;
    height: 5px;
    background-color: #a2e1e4;
  }
  
  .leftSeparator {
    left: 0;
  }
  
  .rightSeparator {
    right: 0;
  }
  
  .title {
    font-family: 'Noto Sans', Helvetica, sans-serif;
    font-size: 1.75rem; /* 28px */
    font-weight: 400;
    letter-spacing: 2.8px;
    color: #000000;
    text-align: center;
    padding: 0 2rem; /* px-8 */
  }
  
  .tablesWrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  .tableContainer {
    border: 1px solid #c1d5d7;
    
    overflow-x: scroll;
  }
  
  /* Table Header DC-B */
  .dcHeader {
    background-color: #46a4ad;
    border: 1px solid #c1d5d7;
    height: 2.5rem; /* h-10 */
    text-align: center;
  }
  
  .dcTitle {
    font-weight: bold;
    color: #ffffff;
    font-size: 1rem; /* text-base = 16px */
    letter-spacing: 2px;
  }
  
  /* Room Header */
  .roomHeader {
    width: 10rem; /* w-40 */
    background-color: #cde9ec;
    height: 2.5rem;
    border: 1px solid #c1d5d7;
    text-align: center;
    padding: 0;
  }
  
  .unitHeader {
    width: 80px;
    background-color: #effdff;
    height: 2.5rem;
    border: 1px solid #c1d5d7;
    text-align: center;
    padding: 0;
  }
  
  .unitTitle {
    font-weight: 500;
    font-size: 1rem; /* text-base = 16px */
    color: #000000;
  }
  
  .roomTitle {
    font-weight: 500;
    font-size: 1rem; /* text-base */
    color: #000000;
  }
  
  .rackHeader {
    // width: 10rem;
    background-color: #effdff;
    height: 2.5rem;
    border: 1px solid #c1d5d7;
    text-align: center;
    padding: 0;
  }
  
  .rackTitle {
    font-weight: 500;
    font-size: 1rem; /* text-base */
    color: #000000;
  }
  
  .unitCell {
    min-width: 10rem;
    background-color: var(--layout-100);
    height: 2.5rem;
    border: 1px solid #c1d5d7;
    padding: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* 被點擊時的樣式 */
  .clickedCell {
    background-color: #a2e1e4; /* 被點擊後變藍綠色 */
  }
  
  