.listBlock {
  display: flex;
  flex-direction: column;
  height: auto;
}

.wrapper {
  display: flex;
  // flex-direction: row;
  align-items: center;
  position: relative;
}

.icon {
  padding: 4px 8px; 
  margin-left: 10px;   
  margin-top: 6px;     
  margin-right: 10px;
  border-radius: 0;
  font-weight: 400  ;
  font-size: 1rem;
  font-family: 'Noto Sans', Helvetica;
  letter-spacing: 2px;
}

.frame {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  height: 35px;
  padding: 9px 0;
  // width: 999px;
  width: auto;
}

.text {
  font-family: "Noto Sans", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.6px;
  width: auto; 
  text-align: center;
}

.item {
  font-family: "Noto Sans", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  height: 25px;
  margin: -5px 0 -3px 0;
  letter-spacing: 1.6px;
}

.label {
  color: #2a6368;
  font-weight: 700;
  letter-spacing: 0.26px;
}

.value {
  color: #000;
  letter-spacing: 0.26px;
}

.divider {
  width: 1px;
  height: 30px;
  background-color: #6bb7be;
}

.honeycombWrapper {
  margin-top: 10px;
  margin-left: 30px;
  padding: 12px;
  background-color: #eefafc;
  border-left: 4px solid #6bb7be;
  // transform: rotate(1deg) scale(1.02); /* Simulated honeycomb feel */
  transition: all 0.3s ease;
  position: relative;  
}

//utilization button and bar
.squareBox {
  width: 20px;
  height: 20px;
  margin-top: -6.36px;
  margin-bottom: -6.36px;
  margin-right: 10px;
  position: relative;
  border-radius: 20px; 
  transition: background-color 0.3s ease;
  background-color: #aaaaaa;

  &.red {
    background-color: #E28789;
  }

  &.yellow {
    background-color: #faad14;
  }

  &.green {
    background-color: green;
  }
}

.utilBar {
  flex: 2;
  display: flex;
  align-items: center;
  gap: 8px;

  .utilFill {
    height: 8px;
    background-color: #49c7ce;
    border-radius: 4px;
  }
  .utilHigh {
    background-color: #E28789;
  }
}